@import url("../../App.css");

.contain{
    display: flex;
    justify-content:center;
    padding-left: 10px;
    padding-right: 10px;
}
.dashboard-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
}
.pagination{
    margin-top: 1rem;
    margin-bottom: 0.5rem; 
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.pagebtn{
    padding: 8px 12px;
    border: none;
    background-color: var(--white-background);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor:pointer;
}

.fa-arrow-left{
    background-color: var(--white-background);

}
.fa-arrow-right{
    background-color: var(--white-background);
}

.col-md-4 {
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.5s, opacity 0.5s;
}

.col-md-4.first {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}