:root {
  --background-color: #edf1f6;
  --white-background: white;
  --search-icon: #9ea4b3;
  --search-byfield: rgba(115,124,145,255);
  --blue-color: #75aef1;
  --icon-color:#5298ed;
  --likebackground-color:#dceafa;
}
